body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: aliceblue;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button.center {
    display: block;
}